{% extends 'base.html' %}

{% block navigate %}
<style>
    a.curSta {
        font-weight:bold;
        color:red;
    }
</style>
 {% for sta in station %}
    {% if sta == chooseSta %}
        <li><a id="{{sta}}" class="curSta" title="{{statusCodes[sta]}}" href="http://192.168.35.94:81/{{sta}}/last">{{sta}} <div style="display:inline-block;font-size:140%;color:{{statusCodes[sta]}}"> ●</div></a> </li>
    {% else %}
       <li><a id="{{sta}}" title="{{statusCodes[sta]}}" href="http://192.168.35.94:81/{{sta}}/last">{{sta}} <div style="display:inline-block;font-size:140%;color:{{statusCodes[sta]}}"> ●</div></a> </li>
    {% endif %}
 
 {% endfor %}

{% endblock %}

{% block content %}
   <style>
    .tb1 th {
        background: grey;
        border: 1px solid black;
        text-align: center; 
    }
    .tb1 td {
        border: 1px solid black;
        text-align: center;
    }
    .tb1 {
        border:1px solid black;
        width:70%;
        margin:auto;
        margin-top:3%;
        margin-bottom:3%;
    }
    .tb2 th {
        background: grey;
        border: 1px solid black;
        text-align: center; 
    }
    .tb2 td {
        border: 1px solid black;
        text-align: center;
    }
    .tb2 {
        border:1px solid black;
        margin-top:3%;
        margin-bottom:3%;
    }
    .tb2 input {
        box-sizing: border-box;
        width:70%;
    }
    input[type="number"] {
        width: 80%;
    }
    
   </style>

    <h1>{% block title %}  {% endblock %}</h1>
    
        <a href="#">
            <h2>Ermak Manager</h2>
            <h5>{{chooseSta}}</h5>
        </a>
        <span class="badge badge-primary"></span>
        <hr>
        <div>

        <label for="selectStation">Select version:</label>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <select id="selectVersion">
            {% for ver in version_list %}
            <option id="{{ver}}" value="http://192.168.35.94:81/{{chooseSta}}/{{ver}}">{{ver}}</option>
            {% endfor %}
        </select>
        
       </div>
        <div>
            <button onclick="IsSubmit()" class="btn btn-primary">Send</button>
            <button onclick="IsGetini()" class="btn btn-primary">Get</button>
            <form method="post">
                <div> 
                    <button id="submit" type="submit" class="btn btn-primary" style="display:none;">Submit</button>
                    <button id="add" type="submit" class="btn btn-primary" style="display:none;">Add</button>
                    <button id="delete" type="submit" class="btn btn-primary" style="display:none;">Delete</button>
                    <input id="isSend" name="isSend" type="checkbox" style="display:none;"/>
                    <input id="isAdd" name="isAdd" type="checkbox" style="display:none;"/>
                    <input id="isDelete" name="isDelete" type="checkbox" style="display:none;"/>
                </div>
                <hr>
                <fieldset>
                <h4>System</h4>
                <table width="100%">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
               <tr>
                    <td width="10%"><label for="deviceInput">Device Name</label></td>
                    <td width="23%"><input id="deviceInput" name="deviceInput" type="text" maxlength="32" value="{{stat['device_name']}}" required></td>
                    <td width="8%"><label for="samprateInput">Samprate</label></td>
                    <td width="23%"><input id="samprateInput" name="samprateInput"  type="number" max="2000" min="10" step="10" value="{{stat['samprate']}}" required></td>
                    <td width="8%"><label for="lcdInput">LCD on time</label></td>
                    <td><input id="lcdInput" name="lcdInput" type="number" min="1" max="255" value="{{stat['LCD_ON_TIME']}}" required></td>
               </tr>
               <tr> 
                    <td><label for="tempInput">Temp mes int</label></td>
                    <td><input id="tempInput" name="tempInput" type="number" min="60" max="65535" value="{{stat['TEMP_MES_INT']}}" required></td>
                    <td><label for="lenInput">File len</label></td>
                    <td><input id="lenInput" name="lenInput" type="number" value="{{stat['LEN']}}"></td>
                    <td><label for="slowrecInput">Slow rec interval</label></td>
                    <td><input id="slowrecInput" name="slowrecInput" type="number" min="0" max="4294967296" value="{{stat['SLOW_REC_INTERVAL']}}" required></td>
                <tr>
                    <td><label for="gainInput">High Gain</label></td>
                    <td><input id="gainInput" name="gainInput" type="checkbox"></td>
                    <td><label for="senspowInput">Sens pow</label></td>
                    <td><input id="senspowInput" name="senspowInput" type="checkbox"></td>
                    <td><label for="autoInput">Auto Start</label></td>
                    <td><input id="autoInput" name="autoInput" type="checkbox" style="margin-left:4%;" ></td>
               </tr>
           </table>
       </fieldset>
       <hr>
       <fieldset>
         <h4>NET</h4>
          <table width="100%">
              <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
              <tr>
                 <td width="10%"><label for="ethpowInput">ETH pow</label></td>
                 <td width="23%"><input id="ethpowInput" name="ethpowInput" type="checkbox" ></td>
                 <td width="8%"><label for="dslpowInput">DSL pow</label></td>
                 <td width="23%"><input id="dslpowInput" name="dslpowInput" type="checkbox" ></td>
              </tr>
              <tr>
                  <td><label for="ethipInput">IP</label></td>
                  <td><input id="ethipInput" name="ethipInput" type="text" value="{{net['ETH_IP']}}" readonly></td>
                  <td><label for="ethmaskInput">Mask</label></td>
                  <td><input id="ethmaskInput" name="ethmaskInput" type="text"  pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" value="{{net['ETH_MASK']}}" required></td>
                  <td width="8%" style="text-align:right;padding-right:1%;"><label for="ethgwInput">GW</label></td>
                  <td><input id="ethgwInput" style="width:80%;" name="ethgwInput" type="text"  pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" value="{{net['ETH_GW']}}" required></td>
              </tr>

          </table>
       </fieldset>
       <hr>
       <fieldset>
         <h4>Time</h4>
          <table width="100%">
            <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
              <tr>
                 <td width="10%"><label for="sourceInput">Source</label></td>
                 <td width="23%">
                    
                    <select id="sourceInput" name="sourceInput">
                        <option value="0">ext gps</option>
                        <option value="1">int gps</option>
                        <option value="2">ntp</option>
                        <option value="3">RTC</option>
                    </select>
                    <script type="text/javascript">
                        let selector=document.querySelector("#sourceInput")
                        try {
                            selector.selectedIndex={{time['SOURCE']}};
                        } catch(err) {
                            selector.selectedIndex=0;
                        }
                        
                    </script>
                </td>
                 <td width="8%"><label for="ntpipInput">NTP IP</label></td>
                 <td width="23%"><input id="ntpipInput" name="ntpipInput" type="text"  pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" value="{{time['NTP_IP']}}" ></td>
                 <td width="8%"><label for="ntpportInput">NTP Port</label></td>
                 <td><input id="ntpportInput" name="ntpportInput" type="number" min="1" max="65535" value="{{time['NTP_PORT']}}" ></td>
              </tr>
              <tr>
                  <td><label for="gpssleepInput">GPS Sleep time</label></td>
                  <td><input id="gpssleepInput" name="gpssleepInput" type="number" min="0" max="65535" value="{{time['GPS_SLEEP_TIME']}}"></td>
              </tr>

          </table>
       </fieldset>

       <table class="tb2">
           <tr>
             <th>Ch</th>
             <th>Network</th>
             <th>Station</th>
             <th>LC</th>
             <th>Channel</th>
             <th>To disk</th>
             <th>To net</th>
             <th>To display</th>
           </tr>
           <tr>
               <td width="5%">0</td>
               <td width="15%"><input id="net0Input" name="net0Input" maxlength="2" type="text" value="{{ch0['NET']}}" required></td>
               <td width="15%"><input id="station0Input" name="station0Input" maxlength="5" type="text" value="{{ch0['STATION']}}" required></td>
               <td width="15%"><input id="loc0Input" name="loc0Input" type="text" size="2" maxlength="2" minlength="2" value="{{ch0['LOC']}}"></td>
               <td width="15%"><input id="name0Input" name="name0Input" type="text" size="3" maxlength="3" minlength="3" value="{{ch0['NAME']}}" required></td>
               <td><input id="todisk0Input" name="todisk0Input" type="checkbox"></td>
               <td><input id="tonet0Input" name="tonet0Input" type="checkbox"></td>
               <td><input id="todisp0Input" name="todisp0Input" type="checkbox"></td>
           </tr>
           <tr>
               <td>1</td>
               <td><input id="net1Input" name="net1Input" type="text" maxlength="2" value="{{ch1['NET']}}" required></td>
               <td><input id="station0Input" name="station1Input" type="text" maxlength="5"  value="{{ch1['STATION']}}" required></td>
               <td><input id="loc1Input" name="loc1Input" type="text" size="2" maxlength="2" minlength="2" value="{{ch1['LOC']}}"></td>
               <td><input id="name1Input" name="name1Input" type="text" size="3" maxlength="3" minlength="3" value="{{ch1['NAME']}}" required></td>
               <td><input id="todisk1Input" name="todisk1Input" type="checkbox"></td>
               <td><input id="tonet1Input" name="tonet1Input" type="checkbox"></td>
               <td><input id="todisp1Input" name="todisp1Input" type="checkbox"></td>
           <tr>
               <td>2</td>
               <td><input id="net2Input" name="net2Input" type="text" maxlength="2" value="{{ch2['NET']}}" required></td>
               <td><input id="station2Input" name="station2Input" type="text" maxlength="5" value="{{ch2['STATION']}}" required></td>
               <td><input id="loc2Input" name="loc2Input" type="text" size="2" maxlength="2" minlength="2" value="{{ch2['LOC']}}"></td>
               <td><input id="name2Input" name="name2Input" type="text" size="3" maxlength="3" minlength="3" value="{{ch2['NAME']}}" required></td>
               <td><input id="todisk2Input" name="todisk2Input" type="checkbox"></td>
               <td><input id="tonet2Input" name="tonet2Input" type="checkbox"></td>
               <td><input id="todisp2Input" name="todisp2Input" type="checkbox"></td>
           </tr>
           <tr>
               <td>3</td>
               <td><input id="net3Input" name="net3Input" type="text" maxlength="2" value="{{ch3['NET']}}"required></td>
               <td><input id="station3Input" name="station3Input" type="text" maxlength="5"  value="{{ch3['STATION']}}" required></td>
               <td><input id="loc3Input" name="loc3Input" type="text" size="2" maxlength="2" minlength="2" value="{{ch3['LOC']}}"></td>
               <td><input id="name3Input" name="name3Input" type="text" size="3" maxlength="3" minlength="3" value="{{ch3['NAME']}}" required></td>
               <td><input id="todisk3Input" name="todisk3Input" type="checkbox"></td>
               <td><input id="tonet3Input" name="tonet3Input" type="checkbox"></td>
               <td><input id="todisp3Input" name="todisp3Input" type="checkbox"></td>
           </tr>
           <tr>
               <td>4</td>
               <td><input id="net4Input" name="net4Input" type="text" maxlength="2" value="{{ch4['NET']}}" required></td>
               <td><input id="station4Input" name="station4Input" type="text" maxlength="5"  value="{{ch4['STATION']}}" required></td>
               <td><input id="loc4Input" name="loc4Input" type="text" size="2" maxlength="2" minlength="2" value="{{ch4['LOC']}}"></td>
               <td><input id="name4Input" name="name4Input" type="text" size="3" maxlength="3" minlength="3" value="{{ch4['NAME']}}" required></td>
               <td><input id="todisk4Input" name="todisk4Input" type="checkbox"></td>
               <td><input id="tonet4Input" name="tonet4Input" type="checkbox"></td>
               <td><input id="todisp4Input" name="todisp4Input" type="checkbox"></td>
           </tr>
           <tr>
               <td>5</td>
               <td><input id="net5Input" name="net5Input" type="text" maxlength="2" value="{{ch5['NET']}}" required></td>
               <td><input id="station5Input" name="station5Input" type="text" maxlength="5" value="{{ch5['STATION']}}" required></td>
               <td><input id="loc5Input" name="loc5Input" type="text" size="2" maxlength="2" minlength="2" value="{{ch5['LOC']}}"></td>
               <td><input id="name5Input" name="name5Input" type="text" size="3" maxlength="3" minlength="3" value="{{ch5['NAME']}}" required></td>
               <td><input id="todisk5Input" name="todisk5Input" type="checkbox"></td>
               <td><input id="tonet5Input" name="tonet5Input" type="checkbox"></td>
               <td><input id="todisp5Input" name="todisp5Input" type="checkbox"></td>
           </tr>
           <tr style="background-color: rgb(250, 128, 114);">
               <td>6</td>
               <td><input id="net6Input" name="net6Input" type="text" maxlength="2" value="{{ch6['NET']}}" style="background-color: silver;"></td>
               <td><input id="station6Input" name="station6Input" type="text" maxlength="5"  value="{{ch6['STATION']}}" style="background-color: silver;"></td>
               <td><input id="loc6Input" name="loc6Input" type="text" size="2" maxlength="2" minlength="2" value="{{ch6['LOC']}}"></td>
               <td><input id="name6Input" name="name6Input" type="text" size="3" maxlength="3" minlength="3" value="{{ch6['NAME']}}" required></td>
               <td><input id="todisk6Input" name="todisk6Input" type="checkbox"></td>
               <td><input id="tonet6Input" name="tonet6Input" type="checkbox"></td>
               <td><input id="todisp6Input" name="todisp6Input" type="checkbox"></td>
           </tr>
       </table>

      <table class="tb1">
          <tr>
           <th>Num</th>
           <th>Service</th>
           <th>Port</th>
         </tr>
         <tr>
            <td>0</td>
            <td>
                <select id="service0Input" name="service0Input">
                        <option value="0">нет</option>
                        <option value="1">WEB</option>
                        <option value="2">LISS</option>
                        <option value="3">SEEDLink</option>
                        <option value="4">NTP</option>
                        <option value="5">TFTP</option>
                </select>
                <script type="text/javascript">
                        selector=document.querySelector("#service0Input")
                        try {
                            selector.selectedIndex={{soc0['SERVICE']}};
                        } catch(err) {
                            selector.selectedIndex=0;
                        }        
                </script>
            </td>
            <td><input id="port0Input" name="port0Input" type="number" min="1" max="65535" value="{{soc0['PORT']}}" required></td>
         </tr>
         <tr>
            <td>1</td>
            <td><select id="service1Input" name="service1Input">
                        <option value="0">нет</option>
                        <option value="1">WEB</option>
                        <option value="2">LISS</option>
                        <option value="3">SEEDLink</option>
                        <option value="4">NTP</option>
                        <option value="5">TFTP</option>
                    </select>
                    <script type="text/javascript">
                        selector=document.querySelector("#service1Input")
                        try {
                            selector.selectedIndex={{soc1['SERVICE']}};
                        } catch(err) {
                            selector.selectedIndex=0;
                        }        
                    </script>
                </td>
            <td><input id="port1Input" name="port1Input" type="number" min="1" max="65535"  value="{{soc1['PORT']}}" required></td>
         </tr>
         <tr>
            <td>2</td>
            <td>
                <select id="service2Input" name="service2Input">
                        <option value="0">нет</option>
                        <option value="1">WEB</option>
                        <option value="2">LISS</option>
                        <option value="3">SEEDLink</option>
                        <option value="4">NTP</option>
                        <option value="5">TFTP</option>
                    </select>
                    <script type="text/javascript">
                        selector=document.querySelector("#service2Input")
                        try {
                            selector.selectedIndex={{soc2['SERVICE']}};
                        } catch(err) {
                            selector.selectedIndex=0;
                        }        
                    </script>
            </td>
            <td><input id="port2Input" name="port2Input" type="number" min="1" max="65535" value="{{soc2['PORT']}}" required></td>
         </tr>
         <tr>
            <td>3</td>
            <td><select id="service3Input" name="service3Input">
                        <option value="0">нет</option>
                        <option value="1">WEB</option>
                        <option value="2">LISS</option>
                        <option value="3">SEEDLink</option>
                        <option value="4">NTP</option>
                        <option value="5">TFTP</option>
                    </select>
                    <script type="text/javascript">
                        selector=document.querySelector("#service3Input")
                        try {
                            selector.selectedIndex={{soc3['SERVICE']}};
                        } catch(err) {
                            selector.selectedIndex=0;
                        }        
                    </script>
            </td>
            <td><input id="port3Input" name="port3Input" type="number" min="1" max="65535" value="{{soc3['PORT']}}" required></td>
         </tr>
       </table>




       <fieldset>
         <h4>Reboot</h4>
          <table>
              <tr>
                 <td width="15%"><label for="dailyrebootInput">Daily Reboot</label></td>
                 <td width="15%" ><input id="dailyrebootInput" name="dailyrebootInput" type="checkbox"></td>
                 <td width="15%"><label for="reboottimeInput">Reboot Time</label></td>
                 <td ><input id="reboottimeInput" name="reboottimeInput" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" value="{{reboot['REBOOT_TIME']}}" style="margin-left:10%;"></td>
              </tr>
       
          </table>
       </fieldset>
            </form>
            <hr>
        </div>




<script>
  $(document).ready(function(){
     let ver="{{chooseVersion}}"
     if (ver.length>0) {
       let CheckedOption=document.querySelector("#{{chooseVersion}}")
       CheckedOption.selected = true;
     } 
    });


    function IsSubmit() {
        document.querySelector("#isSend").checked=true
        document.querySelector("#isAdd").checked=false
        document.querySelector("#isDelete").checked=false
        if (window.confirm("Do you want save new ini-file?")) {
            console.log("yes")
            $("#submit").click()
        } else {
            console.log("No")
        }
    }

    function IsGetini() {
        document.querySelector("#isSend").checked=false
        document.querySelector("#isAdd").checked=false
        document.querySelector("#isDelete").checked=false
        if (window.confirm("Do you want get current ini-file from station?")) {
            console.log("yes")
            $("#submit").click()
        } else {
            console.log("No")
        }
    }

    function IsAdd() {
        document.querySelector("#isSend").checked=false
        document.querySelector("#isAdd").checked=true
        document.querySelector("#isDelete").checked=false
        if (window.confirm("Do you want add new station?")) {
            console.log("yes")
            //$("#add").click()
            //window.location.href = 'http://192.168.35.94:81/';
        } else {
            console.log("No")
        }
    }

    function IsDelete() {
        document.querySelector("#isSend").checked=false
        document.querySelector("#isAdd").checked=false
        document.querySelector("#isDelete").checked=true
        if (window.confirm("Do you want delete current station?")) {
            console.log("yes")
            $("#delete").click()
            //window.location.href = 'http://192.168.35.94:81/';
        } else {
            console.log("No")
        }
    }

   

    if ({{stat['AUTO']}}==1) {
      document.getElementById("autoInput").checked=true
    }
     if ({{stat['GAIN']}}==1) {
      document.getElementById("gainInput").checked=true
    }
    if ({{stat['SENS_POW']}}==1) {
      document.getElementById("senspowInput").checked=true
    }
    if ({{net['ETH_POW']}}==1) {
      document.getElementById("ethpowInput").checked=true
    }
    if ({{net['DSL_POW']}}==1) {
      document.getElementById("dslpowInput").checked=true
    }

    if ({{ch0['TO_DISK']}}==1) {
      document.getElementById("todisk0Input").checked=true
    }
    if ({{ch0['TO_NET']}}==1) {
      document.getElementById("tonet0Input").checked=true
    }
    if ({{ch0['TO_DISP']}}==1) {
      document.getElementById("todisp0Input").checked=true
    }

    if ({{ch1['TO_DISK']}}==1) {
      document.getElementById("todisk1Input").checked=true
    }
    if ({{ch1['TO_NET']}}==1) {
      document.getElementById("tonet1Input").checked=true
    }
    if ({{ch1['TO_DISP']}}==1) {
      document.getElementById("todisp1Input").checked=true
    }

    if ({{ch2['TO_DISK']}}==1) {
      document.getElementById("todisk2Input").checked=true
    }
    if ({{ch2['TO_NET']}}==1) {
      document.getElementById("tonet2Input").checked=true
    }
    if ({{ch2['TO_DISP']}}==1) {
      document.getElementById("todisp2Input").checked=true
    }

    if ({{ch3['TO_DISK']}}==1) {
      document.getElementById("todisk3Input").checked=true
    }
    if ({{ch3['TO_NET']}}==1) {
      document.getElementById("tonet3Input").checked=true
    }
    if ({{ch3['TO_DISP']}}==1) {
      document.getElementById("todisp3Input").checked=true
    }

    if ({{ch4['TO_DISK']}}==1) {
      document.getElementById("todisk4Input").checked=true
    }
    if ({{ch4['TO_NET']}}==1) {
      document.getElementById("tonet4Input").checked=true
    }
    if ({{ch4['TO_DISP']}}==1) {
      document.getElementById("todisp4Input").checked=true
    }

    if ({{ch5['TO_DISK']}}==1) {
      document.getElementById("todisk5Input").checked=true
    }
    if ({{ch5['TO_NET']}}==1) {
      document.getElementById("tonet5Input").checked=true
    }
    if ({{ch5['TO_DISP']}}==1) {
      document.getElementById("todisp5Input").checked=true
    }
    if ({{reboot['DAILY_REBOOT']}}==1) {
      document.getElementById("dailyrebootInput").checked=true
    }
     if ({{ch6['TO_DISK']}}==1) {
      document.getElementById("todisk6Input").checked=true
    }
    if ({{ch6['TO_NET']}}==1) {
      document.getElementById("tonet6Input").checked=true
    }
    if ({{ch6['TO_DISP']}}==1) {
      document.getElementById("todisp6Input").checked=true
    }
    
    $('#selectVersion').change(function(){
        window.location.href = $(this).val();
    });

    
   
    
    
</script>
        
{% endblock %}
